# Criado por https://www.toptal.com/developers/gitignore/api/eclipse,windows,linux,macos
# Edite em https://www.toptal.com/developers/gitignore?templates=eclipse,windows,linux,macos

### Eclipse ###
.metadados
caixa/
tmp/
*.tmp
*.bak
*.swp
*~.nib
propriedades.local
.definições/
.loadpath
.recomendadores

# Construtores de ferramentas externas
.externalToolBuilders/

# "Configurações de inicialização do Eclipse" armazenadas localmente
*.lançar

# PyDev específico (Python IDE para Eclipse)
*.pydevproject

# Específico para CDT (ferramentas de desenvolvimento C/C++)
.cproject

# CDT- autotools
.autotools

# Processador de anotações Java (APT)
.factorypath

# Específico de PDT (Ferramentas de Desenvolvimento PHP)
.buildpath

# plugin sbtelipse
.alvo

# Plugin Tern
.tern-project

# Plugin TeXlipse
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Recomendadores de código
.recomendadores/

# Processamento de anotações
.apt_generated/
.apt_generated_test/

# Scala IDE específico (desenvolvimento Scala e Java para Eclipse)
.cache-main
.scala_dependencies
.planilha

# Descomente esta linha se desejar ignorar o arquivo de descrição do projeto.
# Normalmente, esse arquivo seria rastreado se contiver configurações de compilação/dependência:
#.projeto

### Patch do Eclipse ###
# Ferramentas Spring Boot
.sts4-cache/

###Linux ###
*~

# arquivos temporários que podem ser criados se um processo ainda tiver um handle aberto de um arquivo deletado
.fuse_hidden*

# Preferências do diretório KDE
.diretório

# Pasta de lixo do Linux que pode aparecer em qualquer partição ou disco
.Lixo-*

# Os arquivos .nfs são criados quando um arquivo aberto é removido, mas ainda está sendo acessado
.nfs*

### Mac OS ###
# Em geral
.DS_Store
.AppleDouble
.LSO substituir

# O ícone deve terminar com dois \r
Ícone


# Miniaturas
._*

# Arquivos que podem aparecer na raiz de um volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.Itens Temporários
.Lixo
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Diretórios potencialmente criados no compartilhamento AFP remoto
.AppleDB
.AppleDesktop
Pasta Lixo da Rede
Itens Temporários
.apdisk

### Patch do macOS ###
# arquivos gerados pelo iCloud
*.icloud

### Janelas ###
# Arquivos de cache de miniaturas do Windows
Thumbs.db
Thumbs.db:encriptável
ehthumbs.db
ehthumbs_vista.db

# Despejar arquivo
*.stackdump

# Arquivo de configuração da pasta
[Dd]esktop.ini

# Lixeira usada em compartilhamentos de arquivos
$RECICLE.BIN/

# Arquivos do Windows Installer
*.táxi
*.msi
*.msix
*.msm
*.msp

# Atalhos do Windows
*.lnk

# Fim de https://www.toptal.com/developers/gitignore/api/eclipse,windows,linux,macos